@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout';
@use '@carbon/colors';

.container {
  background-color: #ffffff; 
  margin: $spacing-10 0px;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_logo{
  margin-bottom: $spacing-05;

  @media (max-width: 768px) {
    width: 250px; /* Adjusted size for mobile view */
    height: auto; /* Maintain aspect ratio */
  }
}

.auth_heading_container{
  margin-bottom: $spacing-05;
}

.auth_heading {
  @include type-style('heading-03');
  font-weight: 600;
  text-align: center;
  padding-bottom: $spacing-01;
}

.auth_description {
  @include type-style('body-01');
  text-align: center
}

.auth_form_container {
  width: 100%;
  margin: layout.$spacing-05 layout.$spacing-05;
  gap: $spacing-05;
}

.auth_input_field {
  border: none;
}

.auth_link {
  @include type-style('heading-compact-01');
  text-align: right; 
  text-decoration: none;
  max-width: fit-content;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.auth_socials_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-05;
  margin: layout.$spacing-05 0px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.auth_socials_tile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-04;

  & p {
    @include type-style('heading-compact-01');
  }
}

.auth_select {
  border-bottom: none !important;
  @media screen and (max-width: 768px) {
   margin-bottom: $spacing-03;
  }
}

.auth_2_columns_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-03;

  & * {
    flex: 1;
    // width: 100%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    & * {
      width: 100%;
    }
  }
}

.auth_2_columns_container_select {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-03;

  & * {
    flex: 1;
    // width: 100%;
  }

  @media screen and (max-width: 768px) {
   display: block;
  }
}

.auth_verify_modal {

  & p{
    & button {
      appearance: none;
      border: none;
      outline: none;
      background-color: transparent;
      @include type-style('heading-02');
      cursor: pointer;
      color: colors.$blue-50;
  
      &:hover {
        text-decoration: underline;
      }

      &:focus {
        border: outset;
      }
    }
  }
}

.auth_verify_timer {
  @include type-style('body-01');
  color: #008080;
  font-weight: 600;
  text-align: center;
}

.password_criteria {
  background: #f4f4f4;
  padding: $spacing-04;
  display: flex;
  flex-direction: column;
  gap: $spacing-03;
}

.password_criteria_item {
  display: flex;
  align-items: center;
  gap: $spacing-04;

  & p{
    font-size: 12px;
  }
}