@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";
.flex {
  display: flex;
  justify-content: space-between;
  gap: $spacing-04;
  background-color: white;
  align-items: center;
  max-width: 50%;
  padding: $spacing-01;
  @media (max-width: 460px) {
   flex-direction: column;
   max-width: 100%;
   gap: $spacing-04
  }
}

.tile_padding{
    padding: 0px;
    min-height: fit-content;
    margin-top: $spacing-04;
   
  }

  .table{
    margin: $spacing-04 0;
  }